[Desktop Entry]
Type=Application
Name=led
GenericName=Text Editor
Comment=A light programmer's text editor
Exec=led %F
Icon=led
Terminal=false
Categories=Development;TextEditor;
MimeType=text/plain;text/x-csrc;text/x-chdr;text/x-c++src;text/x-pascal;text/x-python;text/markdown;
StartupNotify=true
